@{
    Layout = "_Layout";

    string controller = ViewContext.RouteData?.Values["controller"]?.ToString() ?? "";
}

@section header {
    <h2>Help Page</h2>
}

<nav class="nav nav-tabs mt-4 mb-4">
    <a class="nav-item nav-link 
       @(controller == "Home" ? "active" : "" )"
       asp-action="Index" asp-controller="Home" asp-area="Help">Home</a>
    <a class="nav-item nav-link 
       @(controller == "Tutorial" ? "active" : "" )"
       asp-action="Index" asp-controller="Tutorial" asp-route-id="Page1" asp-area="Help">Tutorial</a>
    <a class="nav-item nav-link
       @(controller == "Info" ? "active" : "" )"
       asp-action="Index" asp-controller="Info" asp-area="Help">INFO3360</a>
</nav>
@RenderBody()