@{
    ViewBag.Title = "INFO3360 Page";
}

<h2>INFO 3360 (aka the best class ever!)</h2>
<p>INFO 3360 is a programming class centered on ASP.NET Core MVC. MVC stands for Model-View-Controller. 
    These three elements help the functioning of a website, including controlling databases, models and controllers
    to make it an easy view experience for the user. You can incorporate fun styles in your pages with Boostrap features
    and unique icons using FontAwesome. INFO 3360 teaches about each element to make your website function in the best
    way possible!
</p>

<p>
<button type="button" class="btn btn-danger">
    Sophie's INFO3360 Rating <span class="badge text-bg-secondary">10/10</span>
</button>
</p>
