@{
    ViewBag.Title = "Tutorial Page 3";
}

<h4>Tutorial - Page 3</h4>
<p>Database - Database are very important for the view of the MVC. With databses within your code you can upload what needs
    to be dislayed and then it will display in your code. Databases can be added and edited with new information. They can help
    in a website too if your editing a page with your different products, or a database filled with your employees. Within that website
    the database can add new info as the person is doing it. Databases are an extremely helpful tool to help make your website function.
</p>
<a asp-action="Index" asp-route-id="Page2" class="btn btn-dark">Prev</a>
