@{
    ViewBag.Title = "Tutorial Page 1";
}

<h4>Tutorial - Page 1</h4>
<p>Bootstrap - This semester I learned of the fun and unique features you can do with bootstrap. Simple things in a website
    you wouldn't too much about but significantly improve your site. Features as small as changing background colors of header pages
    and colors of buttons, to features such as a scroll bar or drop down menus. Bootstap was fun to learn about and discover the unique
    but important features you can do for your site.
</p>
<a asp-action="Index" asp-route-id="Page2" class="btn btn-dark">Next</a>