@{
    ViewBag.Title = "Tutorial Page 2";
}

<h4>Tutorial - Page 2</h4>
<p>Razor Views - Razor views are what help a website with multiple pages and websites function. Like this website!
    They help with links on pages to go different pages or to go back to a home page. With razor views you are able
    to also have an admin page only select people can view and edit. It also helps with displaying lists from different
    controllers. Razor views help your different controllers to all connect within your website.
</p>
<a asp-action="Index" asp-route-id="Page1" class="btn btn-dark mr-2">Prev</a>
<a asp-action="Index" asp-route-id="Page3" class="btn btn-dark">Next</a>