@{
    ViewBag.Title = "Sophie's Student Profile";
}


@section header {
    <h1>Welcome to Sophie's Student Profile</h1>
}
<p>
    <button type="button" class="btn btn-lg btn-danger" data-bs-toggle="popover" data-bs-title="Fun Fact" 
    data-bs-content="Fun fact about Sophie: She had Open Heart Surgery when she was seven years old!">Click for a surprise</button>
    </p>

<p>
        <a asp-action="Index" class="btn btn-primary">Home</a> @*Home action for the button*@
</p>